@import '/styles/_global.scss';

.filterBar {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: toRem(50) toRem(20) toRem(40) toRem(20);
	background-color: $grey-900;
	color: $primary-light;
	.container {
		@extend .grid;
		@extend .flex;
		flex-wrap: wrap;
	}
}

.leftSection {
	width: 100%;
	display: grid;
	grid-template-areas:
		"subtitle favorites"
		"counter counter";

	@include minWidth(desktop) {
		width: auto;
	}

	.subtitle {
		grid-area: subtitle;
		font-size: toRem(32);
		font-style: normal;
		font-weight: 600;
	}

	.counter {
		grid-area: counter;
		margin: toRem(5) 0;
		font-size: toRem(16);
		font-style: normal;
		font-weight: 500;
		color: $grey-rgba;
	}

	.favoritesButton {
		@extend .flex;
		grid-area: favorites;
		width: 100%;
		max-width: toRem(135);
		margin-left: toRem(20);
		background-color: $grey-600;
		color: $primary-light;
		border: none;
		height: toRem(36);
		padding: 0 toRem(24);
		border-radius: toRem(20);
		font-size: toRem(14);
		font-style: normal;
		font-weight: 600;
		cursor: pointer;
		gap: toRem(8);

		&:hover {
			background-color: $grey-400;
		}

		.heartIcon {
			color: $primary-light;
			font-size: toRem(20);
		}

		&.favorited .heartIcon {
			color: #F8594E;
		}
	}
}

.rightSection {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;

	@include minWidth(desktop) {
		width: 50%;
	}

	.switchContainer {
		@extend .flex;

		.switch {
			position: relative;
			display: inline-block;
			width: toRem(58);
			height: toRem(32);
			margin-left: toRem(10);
			margin-right: toRem(20);

			input {
				opacity: 0;
				width: 0;
				height: 0;

				&:checked+.slider {
					background-color: #00DAE8;
				}

				&:checked+.slider:before {
					transform: translateX(toRem(26));
				}
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: $grey-400;
				transition: .4s;
				border-radius: toRem(34);

				&:before {
					position: absolute;
					content: "";
					height: toRem(28);
					width: toRem(28);
					left: toRem(2);
					bottom: toRem(2);
					background-color: $primary-light;
					transition: .4s;
					border-radius: 50%;
				}
			}
		}
	}
}

.searchBar {
	flex-grow: 1;
	margin-left: toRem(20);
}