@import '/styles/_global.scss';

.songDetailPage {
	color: $primary-light;
	background-color: $secondary-darker;
	padding: 0 toRem(20);
	height: 100%;
	height: calc(100vh - toRem(80));

	.mainSection {
		@extend .grid;
		width: 100%;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-top: toRem(73);
		margin-bottom: toRem(30);
		z-index: 0;

		.backgroundPoster {
			width: 100%;
			max-width: toRem(400);
			top: toRem(10);
			opacity: 0.5;
			position: absolute;
			right: 0;
			background: linear-gradient(90deg, #12303B 0%, rgba(18, 48, 59, 0.00) 100%);
		}

		.songPoster {
			position: relative;
			margin: 0 auto;
			z-index: 1;

			img {
				width: toRem(204);
				border-radius: toRem(5);
				box-shadow: 0 toRem(4) toRem(6) rgba(0, 0, 0, 0.1);
				border: toRem(1) solid $grey-100;
				margin: 0;

				@include minWidth(desktop) {
					margin-right: toRem(34);
				}
			}

			@include minWidth(desktop) {
				margin: 0;
			}
		}

		.songDetails {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			padding-top: toRem(20);
			margin: 0 auto;

			@include minWidth(tablet) {
				align-items: flex-start;
				margin: 0;
			}

			.topSection {
				display: flex;
				align-items: center;
				gap: toRem(38);
			}

			.playButton {
				font-size: toRem(64);
				color: $primary-light;
				cursor: pointer;
			}

			.songInfo {
				margin-left: 0;

				.songTitle {
					display: flex;

					h2 {
						font-size: toRem(36);
						margin: 0;
					}

					.favoriteButton {
						background: none;
						border: none;
						cursor: pointer;
						margin-left: toRem(22);

						.heartIcon {
							color: $primary-light;
							font-size: toRem(24);
						}

						&.favorited .heartIcon {
							color: #F8594E;
						}
					}
				}

				.songDesc {
					margin: toRem(10) 0;
					font-size: toRem(18);
					color: $primary-light;
				}
			}

			.audioSection {
				margin-top: toRem(20);
				width: 100%;
				max-width: toRem(350);

				.audioPlayer {
					background: transparent;
					color: $primary-light;
					border: 0;
					box-shadow: none;
				}
			}
		}
	}

	.suggestionsSection {
		@extend .grid;
		margin-top: toRem(94);
		position: relative;
		z-index: 1;

		h5 {
			font-size: toRem(16);
			font-style: normal;
			font-weight: 500;
			margin-bottom: toRem(20);
		}

		.suggestionsList {
			display: flex;
			flex-wrap: wrap;
			gap: toRem(20);
		}
	}
}