@import '/styles/_global.scss';

.musicList {
	background-color: $grey-900;
	background-color: $grey-900;
	padding: 0 toRem(20);
	margin-bottom: toRem(20);
  }
  .container {
	@extend .grid;
	display: flex;
	flex-wrap: wrap;
	gap: toRem(32);
  }