// COMMON CLASSES
.grid {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.rhap_button-clear,
.rhap_volume-bar,
.rhap_controls-section {
	display: none;
}

.rhap_main {
	position: relative;
}

.rhap_current-time, .rhap_total-time {
	top: 20px;
	position: absolute;
	color: #A8A8A8 !important;
	font-size: 14px !important;
}

.rhap_total-time {
	right: 0;
}

.rhap_progress-container {
	margin: 0 !important;
}

.rhap_progress-bar-show-download {
	background-color: $primary-light !important;
	height: 2px !important;
}
.rhap_progress-indicator {
	top: -2px !important;
	margin-left: 0 !important;
	background-color: white !important;
	width: 6px !important;
	height: 6px !important;
}
.rhap_progress-filled {
	background-color: gray !important;
	height: 2px !important;
}