@import '/styles/_global.scss';

.songItem {
	position: relative;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	width: 100%;
	max-width: toRem(170);
	gap: toRem(32);
	height: toRem(282);
	background-color: $grey-800;
	border-radius: toRem(5);
	margin-bottom: toRem(20);
	box-shadow: 0 0 toRem(4) 0 $grey-800;

	@include minWidth(mobile) {
		margin-bottom: 0;
		max-width: toRem(204);
	}

	&:hover {
		transform: scale(1.05);
	}

	.songCover {
		width: 100%;
		border-top-left-radius: toRem(5);
		border-top-right-radius: toRem(5);
	}

	.songDetails {
		width: 100%;
		max-width: toRem(200);
		padding: 0 toRem(16);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		box-sizing: border-box;
		margin-top: toRem(14);

		.songTitle {
			grid-area: title;
			font-size: toRem(18);
			font-weight: 600;
		}
		.songInfo {
			@extend .flex;
			width: 100%;
			.songArtist {
				grid-area: artist;
				width: 100%;
				max-width: toRem(140);
				color: $grey-100;
				margin-top: toRem(8);
				font-size: toRem(12);
				font-weight: 600;
			}
	
			.favoriteButton {
				grid-area: favorite;
				background: none;
				border: none;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $primary-light;
	
				.heartIcon {
					font-size: toRem(20);
					width: toRem(20);
					height: toRem(20);
				}
			}
	
			.favorited .heartIcon {
				color: #F8594E;
			}
		}
	}
}